.testimonials-container {
  display: flex;
}

.testimonials-left-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.testimonials-left-container h1 {
  color: #fff;
}

.testimonials-left-container img {
  width: 100%;
}

.testimonials-right-container {
  padding: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1593672755342-741a7f868732?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}

.testimonials-right-container h1 {
  color: #fff;
}

.testimonials-right-container img {
  width: 100%;
}
